@charset "utf-8";

/*=======================================================================
common
=======================================================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: bottom;
}

/*=======================================================================
header
=======================================================================*/
header {
  position: relative;
  width: 100%;
  height: 80px;
}

header .header-div {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 0 24px;
  background: #fb5545;
  z-index: 5;
}

header .header-div h1 {
  font-family: Noto Serif JP, sans-serif;
  font-size: 2.5rem;
  color: #ffffff;
}

header .header-div h1 img {
  vertical-align: middle;
}

header .header-div nav ul {
  display: flex;
  gap: 40px;
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 1.25rem;
}

header .header-div nav ul li:hover {
  opacity: .7;
  scale: 1.1;
}

header .header-div nav ul li:active {
  opacity: .4;
}

header .header-div #hamburger {
  position: relative;
  width: 80px;
  height: 80px;
  cursor: pointer;
  display: none;
}

header .header-div #hamburger:hover {
  opacity: .7;
}

header .header-div #hamburger #border1 {
  position: absolute;
  width: 48px;
  height: 3px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  border-radius: 1.5px;
  transition: all .3s;
}

header .header-div #hamburger #border1.show {
  transform: rotate(45deg) translate(-4px, 30px);
}

header .header-div #hamburger #border2 {
  position: absolute;
  width: 48px;
  height: 3px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  border-radius: 1.5px;
  transition: all .3s;
}

header .header-div #hamburger #border2.show {
  opacity: 0;
}

header .header-div #hamburger #border3 {
  position: absolute;
  width: 48px;
  height: 3px;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  border-radius: 1.5px;
  transition: all .3s;
}

header .header-div #hamburger #border3.show {
  transform: rotate(-45deg) translate(-10px, -26px);
}

header #menu {
  position: fixed;
  transform: translateY(-350px);
  left: 0;
  width: 100%;
  background: #aaaaaa;
  opacity: 0;
  transition: transform .3s, opacity .3s;
  z-index: 3;
}

header #menu.show {
  transform: translateY(80px);
  opacity: 1;
  pointer-events: all;
}

header #menu ul li {
  width: 100%;
  padding: 20px;
  font-size: 1.25rem;
  font-family: Roboto, sans-serif;
  cursor: pointer;
}

header #menu ul li:hover {
  opacity: .7;
}

header #menu ul li:active {
  opacity: .4;
}

header #menu ul li:nth-child(1) {
  color: blue;
}

header #mask {
  position: fixed;
  inset: 80px 0 0 0;
  background: rgba(0, 0, 0, .7);
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s;
  z-index: 2;
}

header #mask.show {
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
}

/*=======================================================================
about
=======================================================================*/
main .about {
  padding: 80px 0 200px;
  background: #f2f2f2;
}

main .about .about-content {
  width: min(100% - 80px, 1200px);
  margin-inline: auto;
  overflow: hidden;
}

main .about .about-content .about-title h2 {
  font-size: 2.5rem;
  font-family: Noto Serif JP, sans-serif;
  font-weight: 700;
}

main .about .about-content .about-title p {
  font-size: .875rem;
  font-family: Noto Serif JP, sans-serif;
}

main .about .about-content .about-h3 {
  text-align: center;
  margin-top: 25px;
}

main .about .about-content .about-h3 h3 {
  line-height: 1.2;
  font-size: 3rem;
  font-family: Noto Serif JP, sans-serif;
}

main .about .about-content .about-text {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 80px;
}

main .about .about-content .about-text div {
  width: calc((100% - 20px)/ 2);
}

main .about .about-content .about-text .about-img {
  text-align: center;
  opacity: 0;
  transform: translateX(-100px);
  transition: transform .6s, opacity .6s;
}

main .about .about-content .about-text .about-img img {
  width: 75%;
}

main .about .about-content .about-text .about-p {
  font-size: 1.25rem;
  font-family: Sawarabi Mincho, sans-serif;
}

main .about .about-content .about-text .about-p p+p {
  margin-top: 25px;
}

/*=======================================================================
aboutus-img
=======================================================================*/
main .aboutus-img {
  position: relative;
  width: 100%;
  height: 700px;
  background: url(../about.jpg);
  background-size: cover;
  background-position: top center;
}

main .aboutus-img .aboutus-p1 {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  font-size: 3.125rem;
  font-family: Noto Serif JP, sans-serif;
  font-weight: 700;
}

main .aboutus-img .aboutus-p2 {
  position: absolute;
  top: 290px;
  left: calc(50% - 300px);
  transform: translateX(-50%);
}

main .aboutus-img .aboutus-p3 {
  position: absolute;
  top: 410px;
  left: 50%;
  transform: translateX(-50%);
}

main .aboutus-img .aboutus-p4 {
  position: absolute;
  top: 530px;
  left: calc(50% + 300px);
  transform: translateX(-50%);
}

main .aboutus-img .aboutus-p2 p:nth-child(1),
main .aboutus-img .aboutus-p3 p:nth-child(1),
main .aboutus-img .aboutus-p4 p:nth-child(1) {
  color: #ffffff;
  font-size: 5rem;
  font-family: Noto Serif JP, sans-serif;
  line-height: 80px;
  white-space: nowrap;
}

main .aboutus-img .aboutus-p2 p:nth-child(1) span,
main .aboutus-img .aboutus-p3 p:nth-child(1) span,
main .aboutus-img .aboutus-p4 p:nth-child(1) span {
  color: #ffffff;
  font-size: 2.5rem;
  font-family: Noto Serif JP, sans-serif;
}

main .aboutus-img .aboutus-p2 p:nth-child(2),
main .aboutus-img .aboutus-p3 p:nth-child(2),
main .aboutus-img .aboutus-p4 p:nth-child(2) {
  color: #ffffff;
  font-size: 1.875rem;
  font-family: Noto Serif JP, sans-serif;
  line-height: 30px;
  margin-top: -5px;
}

/*=======================================================================
message
=======================================================================*/
main .message {
  padding: 50px 0;
}

main .message .message-content {
  width: min(100% - 80px, 1200px);
  margin-inline: auto;
  overflow: hidden;
}

main .message .message-content .message-title h2 {
  font-size: 2.5rem;
  font-family: Noto Serif JP, sans-serif;
  font-weight: 700;
}

main .message .message-content .message-title p {
  font-size: .875rem;
  font-family: Noto Serif JP, sans-serif;
}

main .message .message-content .message-text {
  display: flex;
  align-items: center;
  gap: 80px;
  margin-top: 80px;
}

main .message .message-content .message-text .message-img {
  position: relative;
  width: calc((100% - 80px)/5 * 2);
  text-align: center;
  opacity: 0;
  transform: translateX(100px);
  transition: transform .6s, opacity .6s;
}

main .message .message-content .message-text .message-img img {
  width: 85%;
}

main .message .message-content .message-text .message-img .message-img-bg {
  position: absolute;
  top: calc(50% + 50px);
  left: calc(50% + 80px);
  transform: translate(-50%, -50%);
  width: 85%;
  height: 320px;
  background: #f2f2f2;
  z-index: -1;
}

main .message .message-content .message-text .message-p {
  width: calc((100% - 80px)/5 * 3);
  font-size: 1rem;
  font-family: Sawarabi Mincho, sans-serif;
  line-height: 1.875;
}

main .message .message-content .message-text .message-p p+p {
  margin-top: 25px;
}

main .message .message-content .message-text .message-p .president-name {
  font-size: 1.25rem;
  text-align: end;
}

main .message .message-content .message-text .message-p .president-name span {
  font-size: 1.875rem;
  font-weight: 400;
  margin-left: 10px;
}

/*=======================================================================
history
=======================================================================*/
main .h-c {
  background: #f2f2f2;
  padding: 50px 0 200px;
}

main .h-c .history {
  width: min(100% - 80px, 1200px);
  margin-inline: auto;
  overflow: hidden;
}

main .h-c .history .history-title h2 {
  font-size: 2.5rem;
  font-family: Noto Serif JP, sans-serif;
  font-weight: 700;
}

main .h-c .history .history-title p {
  font-size: .875rem;
  font-family: Noto Serif JP, sans-serif;
}

main .h-c .history dl {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
}

main .h-c .history dl dt {
  width: 30%;
  font-family: Noto Serif JP, sans-serif;
  font-size: 1.25rem;
  padding: 32px 0;
  border-top: 1px dotted #000000;
}

main .h-c .history dl dd {
  width: 70%;
  font-family: Noto Serif JP, sans-serif;
  font-size: 1.25rem;
  padding: 32px 0;
  border-top: 1px dotted #000000;
}

main .h-c .history dl .no-border {
  border: none;
}

main .h-c .history dl dt span,
main .h-c .history dl dd span {
  white-space: nowrap;
}

/*=======================================================================
company
=======================================================================*/
main .h-c .company {
  width: min(100% - 80px, 1200px);
  margin-inline: auto;
  overflow: hidden;
  margin-top: 200px;
}

main .h-c .company .company-title h2 {
  font-size: 2.5rem;
  font-family: Noto Serif JP, sans-serif;
  font-weight: 700;
}

main .h-c .company .company-title p {
  font-size: .875rem;
  font-family: Noto Serif JP, sans-serif;
}

main .h-c .company dl {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
}

main .h-c .company dl dt {
  width: 30%;
  font-family: Noto Serif JP, sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 32px 0;
}

main .h-c .company dl dt span {
  white-space: nowrap;
  font-family: Noto Serif JP, sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
}

main .h-c .company dl dd {
  width: 70%;
  font-family: Noto Serif JP, sans-serif;
  font-size: 1.25rem;
  padding: 32px 0;
}

main .h-c .company dl dd iframe {
  width: min(560px, 100%);
}

main .h-c .company dl dd span {
  white-space: nowrap;
  font-family: Noto Serif JP, sans-serif;
  font-size: 1.25rem;
}

main .h-c .company dl .company-sp {
  display: none;
}


/*=======================================================================
contact
=======================================================================*/
main .contact {
  position: relative;
  padding: 100px 0 200px;
  width: min(100% - 80px, 1200px);
  margin-inline: auto;
}

main .contact .contact-cimg {
  position: absolute;
  top: -140px;
  left: 50%;
  transform: translateX(-50%);
}

main .contact .contact-cimg img.show {
  animation: contact-cimg 1s forwards;
}

@keyframes contact-cimg {
  50% {
    scale: 0.8;
  }

  60% {
    scale: 1.05;
  }

  70% {
    scale: 1;
  }

  80% {
    scale: 1.05;
  }

  90% {
    scale: 1;
  }
}

main .contact .contact-title h2 {
  font-size: 2.5rem;
  font-family: Noto Serif JP, sans-serif;
  font-weight: 700;
}

main .contact .contact-title p {
  font-size: .875rem;
  font-family: Noto Serif JP, sans-serif;
}

main .contact .contact-content {
  width: 100%;
  margin-top: 50px;
  overflow: hidden;
}

main .contact .contact-content .contact-list ul {
  width: 52%;
  margin-inline: auto;
}

main .contact .contact-content .contact-list ul li::before {
  position: absolute;
  content: 'ãƒ»';
  color: #111111;
  left: -25px;
  top: 50%;
  transform: translateY(-50%);
}

main .contact .contact-content .contact-list ul li {
  position: relative;
  font-size: 1.5rem;
  font-family: Sawarabi Mincho, sans-serif;
  margin-top: 8px;
}

main .contact .contact-content .contact-btn {
  margin-top: 40px;
  margin-inline: auto;
  width: 320px;
  font-size: 1.125rem;
  font-family: Sawarabi Mincho, sans-serif;
  border: 1px solid #111111;
  border-radius: 8px;
  text-align: center;
}

main .contact .contact-content .contact-btn a {
  width: 100%;
  display: inline-block;
  padding: 12px 0;
}


main .contact .contact-content .contact-btn:hover {
  opacity: .7;
  scale: 1.1;
}

main .contact .contact-content .contact-btn:active {
  opacity: .4;
}

main .contact .contact-content .contact-p {
  margin-top: 40px;
}

main .contact .contact-content .contact-p p {
  font-size: 1.25rem;
  font-family: Sawarabi Mincho, sans-serif;
  text-align: center;
}

main .contact .contact-content .contact-p p span {
  font-size: 1.25rem;
  font-family: Sawarabi Mincho, sans-serif;
  text-align: center;
  white-space: nowrap;
}

/*=======================================================================
footer
=======================================================================*/
footer {
  padding: 55px 0 0 0;
  background: #fb5545;
  color: #ffffff;
}

footer .footer-sp-menu {
  display: none;
  font-size: 1.125rem;
  font-family: Roboto, sans-serif;
}

footer .footer-pc-menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 720px;
  margin-inline: auto;
  font-size: 1.125rem;
  font-family: Roboto, sans-serif;
}

footer .footer-pc-menu::before {
  position: absolute;
  content: '';
  bottom: -55px;
  width: 100%;
  height: 1px;
  background: #ffffff;
}

footer ul li:hover {
  opacity: .7;
  scale: 1.1;
}

footer ul li:nth-child(4):hover {
  opacity: 1;
  scale: 1;
}

footer ul li:active {
  opacity: .4;
}

footer .footer-small {
  text-align: center;
  font-size: 1rem;
  font-family: Roboto, sans-serif;
  margin-top: 80px;
  padding-bottom: 24px;
}

/*=======================================================================
media
=======================================================================*/
@media screen and (max-width:1200px) {
  main .message .message-content .message-text {
    display: block;
    margin-top: 25px;
  }

  main .message .message-content .message-text .message-img {
    width: 100%;
    margin-top: 25px;
  }

  main .message .message-content .message-text .message-img img {
    width: min(85%, 400px);
  }

  main .message .message-content .message-text .message-img .message-img-bg {
    top: calc(50% + 25px);
    left: calc(50% + 40px);
    width: min(85%, 400px);
    height: 280px;
  }

  main .message .message-content .message-text .message-p {
    width: 100%;
    font-size: .875rem;
  }
}

@media screen and (max-width:760px) {
  main .about .about-content .about-h3 h3 {
    font-size: 1.75rem;
  }

  main .about .about-content .about-text {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 25px;
  }

  main .about .about-content .about-text {
    display: block;
  }

  main .about .about-content .about-text div {
    width: 100%;
  }

  main .about .about-content .about-text .about-p {
    margin-top: 25px;
  }

  main .about .about-content .about-text .about-p {
    font-size: 1.125rem;
  }

  main .about .about-content .about-text .about-p p+p {
    margin-top: 20px;
  }


}

@media screen and (max-width:1000px) {
  header .header-div nav {
    display: none;
  }

  header .header-div #hamburger {
    display: block;
  }

  main .aboutus-img {
    position: relative;
    width: 100%;
    height: 700px;
    background: url(../about-sp.jpg);
    background-size: cover;
    background-position: center;
  }

  main .aboutus-img .aboutus-p1 {
    font-size: 2.25rem;
  }

  main .aboutus-img .aboutus-p2 {
    top: calc(25%);
    left: calc(50% + 3px);
  }

  main .aboutus-img .aboutus-p3 {
    top: 50%;
    left: calc(50% - 25px);
  }

  main .aboutus-img .aboutus-p4 {
    top: calc(75%);
    left: 50%;
  }

  main .aboutus-img .aboutus-p2 p:nth-child(1),
  main .aboutus-img .aboutus-p3 p:nth-child(1),
  main .aboutus-img .aboutus-p4 p:nth-child(1) {
    font-size: 4rem;
    line-height: 64px;
  }

  main .aboutus-img .aboutus-p2 p:nth-child(1) span,
  main .aboutus-img .aboutus-p3 p:nth-child(1) span,
  main .aboutus-img .aboutus-p4 p:nth-child(1) span {
    font-size: 1.875rem;
  }

  main .aboutus-img .aboutus-p2 p:nth-child(2),
  main .aboutus-img .aboutus-p3 p:nth-child(2),
  main .aboutus-img .aboutus-p4 p:nth-child(2) {
    font-size: 1.5rem;
    line-height: 24px;
  }

  main .contact .contact-content .contact-list ul {
    width: max(100% - 80px, 52%);
    margin-inline: auto;
  }

  main .contact .contact-content .contact-list ul li {
    font-size: 1.25rem;
  }

  main .contact .contact-content .contact-btn {
    margin-top: 25px;
  }

  main .contact .contact-content .contact-p {
    margin-top: 25px;
    font-size: 1.125rem;
  }
}

@media screen and (max-width:820px) {
  footer .footer-pc-menu {
    display: none;
  }

  footer .footer-sp-menu {
    display: block;
    padding: 0 40px 0;
    font-size: 1.125rem;
  }

  footer .footer-sp-menu li {
    font-size: 1.125rem;
    margin-top: 12px;
  }

  footer .footer-sp-menu li:hover {
    opacity: .7;
    scale: 1;
  }

  footer .footer-sp-menu li:nth-child(4),
  footer .footer-sp-menu li:nth-child(5),
  footer .footer-sp-menu li:nth-child(6) {
    padding-left: 20px;
  }

  footer .footer-sp-menu li:nth-child(10) {
    text-align: center;
    margin-top: 25px;
  }

  footer .footer-sp-menu li:nth-child(4):hover {
    opacity: .7;
    scale: 1;
  }

  footer .footer-sp-menu li:nth-child(10):hover {
    opacity: 1;
    scale: 1;
  }

  footer .footer-sp-menu li:active {
    opacity: .4;
  }
}

@media screen and (max-width:700px) {
  main .h-c .history dl dt {
    font-size: 1rem;
  }

  main .h-c .history dl dd {
    font-size: 1rem;
  }

  main .h-c .company dl dt {
    font-size: 1rem;
  }

  main .h-c .company dl dt span {
    font-family: Noto Serif JP, sans-serif;
    font-size: 1rem;
    font-weight: 700;
  }

  main .h-c .company dl dd {
    font-size: 1rem;
  }

  main .h-c .company dl dd span {
    font-size: 1rem;
    font-family: Noto Serif JP, sans-serif;
  }

  main .h-c .company dl .company-pc {
    display: none;
  }

  main .h-c .company dl .company-sp {
    display: block;
  }

  main .h-c .company dl div {
    width: 100%;
  }

  main .h-c .company dl .company-sp iframe {
    width: 100%;
  }
}